html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#main {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#create {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 98%;
    height: 55%;
}

input {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.25rem 0.25rem 0.25rem 0.50rem;
}

#photo {
    width: 40rem;
}

#name {
    width: 20rem;
}

#pv, #pa {
    width: 10rem;
}

#fighters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 98%;
    height: 40%;
}

#versus {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border: 2px dotted black;
    border-radius: 2rem;
    width: 50%;
    height: 65%;
}

#thumb_f1, #thumb_f2 {
    width: 20%;
    height: 85%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

#xvsy {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 40%;
    height: 85%;
}

#history {
    resize: none;
    border: 2px dotted black;
    border-radius: 2rem;
    padding: 1rem;
}

.badentry {
    border: 2px dotted red;
}

.thefightarea {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.noms, .vies, .photos {
    border: 2px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.noms {
    width: 98%;
    height: 8%;
}

.nom {
    background-color: black;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.vies {
    width: 98%;
    height: 8%;
}

.photos {
    width: 98%;
    height: 50%;
}

.photo_f1, .photo_f2 {
    width: 20%;
    height: 85%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.wobble {
    animation-name: wobble;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

.fadeoutup {
    animation-name: fadeoutup;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.flipiny {
    backface-visibility: visible !important;
    animation-name: flipiny;
    animation-duration: 500ms;
    animation-fill-mode: both;
}

@keyframes wobble {
    0%   {transform: none;}
    15%  {transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);}
    30%  {transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);}
    45%  {transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);}
    60%  {transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);}
    75%  {transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);}
    100% {transform: none;}
}

@keyframes fadeoutup {
    0%   {opacity: 1;}
    100% {opacity: 0; transform: translate3d(0, -100%, 0);}
}

@keyframes flipiny {
    0% {transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transition-timing-function: ease-in; opacity: 0;}
    40% {transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transition-timing-function: ease-in;}
    60% {transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;}
    80% {transform: perspective(400px) rotate3d(0, 1, 0, -5deg);}
    100% {transform: perspective(400px);}
}